html
{
  max-width: 960px;
  font-size: 1em;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  color: #206ac9;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

pre.source-code {
  overflow: auto;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
  background-color: #e9eff0;
}

h4 {
  font-size: 1em;
}

.import-path{
  visible: hidden;
}

.layout-container > header {
  background-color: #4077aa;
  border: none;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.github-markdown img:not([src*=".svg"]) {
  max-width: 100%;
  box-shadow: none;
}

.layout-container > header > a {
  color: #e9f3f1;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.layout-container > header > a:hover{
  color: #FFF;
}

.kind-class{
  display: none;
}

.navigation > div {
  margin-bottom: 20px;
}

.layout-container > header > a.repo-url-github {
  font-size: 1em;
  height: 38px;
  width: auto;
  padding-left: 24px;
  background: url("../../data/docs/github.png") no-repeat left;
  background-size: 20px;
  vertical-align: top;
}

.manual-breadcrumb-list{
  display: none;
}

.import-path{
  display: none;
}

.navigation{
  overflow: auto;
  padding-top: 32px;
  margin-bottom: 30px;
  width: 200px;
  padding-left: 0;
  border-right: 0;
}

.navigation .nav-dir-path{
  color: #888;
  font-weight: normal;
  margin-left: 0;
  font-style: oblique;
  font-size: 0.8em;
  margin-top: 1em;
}

.navigation li {
  margin: 6px 0;
  margin-left: 0.75em;
}

.navigation li a {
  font-weight:200;
  color: #555;
}

.content{
  margin-left: 210px;
  overflow: auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.content .detail > div {
  margin-left: 0;
}

.search-input, select{
  color: #FFF;
}

.search-input{
  border-color: #dadada;
}

.search-input-edge{
  background-color: transparent;
}

.footer{
  border-top: none;
}

.navigation .manual-toc-root > div{
  margin-top: 10px;
}

.manual-toc .indent-h2, .manual-toc .indent-h1{
  margin-left: 0;
  padding: 0;
}

table.summary thead, .description thead, table.files-summary thead, table.test-summary thead {
  background: #e2e2e2;
  color: #000;
}

.inherited-summary thead a {
  color: #000;
}

.content .detail h4 + :not(pre) {
  margin-left: 0;
}

.content .detail > div {
  margin-left: 2px;
}

#meboSmallLogo {
  width: 40px;
  height: 40px;
  border: none;
}

.summary > tbody > tr > td {
  padding: 2px 4px;
}

.summary > tbody > tr > td:first-child{
  display: none;
}

.summary > tbody > tr > td > div > div {
  display: none;
}

.summary > tbody > tr > td > div > p > span[data-ice="signature"] {
  font-size: 90%;
  color: #888;
}
.summary > tbody > tr > td > div > p > span[data-ice="signature"] > span > a{
  color: #888;
}

p > code, li > code {
  font-size: 95%;
}

td > code, p > code {
  border-radius: 5px;
  padding: 2px;
  font-size: 0.8em;
  background-color: #ededed;
}
pre.prettyprint, pre > code {
  background-color: #ededed;
}
